@use '../abstract' as *;

.SingleProductView {
    width: 100%;
    @include flex-center;
    padding: 10% 0;
   
    
.SingleProductView__container {
    width: 95%;
    padding: 5% 0;
    min-width: 320px;
    max-width: 600px;
    @include flex(column, center);
    gap: .5em;

    .SingleProductView__container-contImg {
        @include flex-center;
        width: 100%;
        padding: 10% 0;
        background: white;
        border-radius: 12px;
        box-shadow: $shadow;
        .SingleProductView__container-contImg-inside {
            width: 90%;
            height: 93%;
            background: $lite;
            border-radius: 12px;
           @include cont-img(100%, 450px, contain);
           
        }
    }

    .SingleProductView__container-contPreview {
        @include flex-between(row);
        width: 95%;
        max-width: 400px;
        
        

        .SingleProductView__container-contPreview-contImg {
          @extend .SingleProductView__container-contImg;
          padding: 2%;
          width: auto;
          border-radius: 7px;

          .SingleProductView__container-contPreview-img {
            width: auto;
            height: auto;
            background: $lite;
            padding: 2%;
            border-radius: 7px;
           @include cont-img(70px, 70px, contain);
          }
          
        }


    }

  

  

    


    
}

}