
//Color
$transparent-brown:  #8a6044e1;
$brown: #8a6044;
$lite: #d7d1cb;
$late: #bcaf9f;
$lite-brown: #9b7a69;

//Test Colors
$t1: rgba(128, 128, 128, 0.637) ;
$t2: rgba(255, 0, 0, 0.534);
$t3: rgba(94, 190, 94, 0.678);
$t4: rgba(158, 65, 158, 0.603);

//Fonts
$font: sans-serif;

//Fonts Size
$XL: 50px;
$X: 45px;
$L: 40px;
$M: 30px;
$S: 20px;
$XS:16px;

//other 
$shadow: 8px 7px 5px -3px rgba(0, 0, 0, 0.16);
$shadow2:   0px 8px 5px -4px rgba(0,0,0,0.32);
